<!doctype html>
<html ng-app="demo">
	<head>
		<title>Welcome to Stock analyzer</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    	<script src="dividend_details.js"></script>
	</head>

	<body>
		<div ng-controller="quote">
			Stock Symbol: <input type="text" name="stock_symbol" ng-model="stock_symbol" required />
   			<button ng-click="getDividendInformation()">StockDetails</button>
			<p>Stock Symbol: {{stock_quote.Symbol}}</p>
			<p>PayOut Ratio: {{stock_quote.PayOutRatio}}</p>
			<p>Dividend Yield: {{stock_quote.DividendYield}}</p>
			<p>Divided Per Share: {{stock_quote.DividedPerShare}}</p>
			<p>Ex Divided Date: {{stock_quote.ExDividedDate}}</p>
			<p>Last Payout Date: {{stock_quote.LastPayoutDate}}</p>
		</div>
	</body>
</html>

