<!doctype html>
<html ng-app="demo">
	<head>
		<title>Welcome to Stock analyzer</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    	<script src="dividend_details.js"></script>
    	<link rel="stylesheet" type="text/css" href="table.css"/>
	</head>

	<body>



		<div ng-controller="quote">
			Stock Symbol: <input type="text" name="stock_symbol" ng-model="stock_symbol" required />
   			<button ng-click="getDividendInformation()">StockDetails</button>
   			<br>
   			<br>
			<table class="hoverTable">
				<tr>
					<td>Stock Symbol</td><td>{{stock_quote.Symbol}}</td>
				</tr>
				<tr>
					<td>PayOut Ratio</td><td>{{stock_quote.PayOutRatio}}</td>
				</tr>
				<tr>
					<td>Dividend Yield</td><td>{{stock_quote.DividendYield}}</td>
				</tr>
				<tr>
					<td>Divided Per Share</td><td>{{stock_quote.DividedPerShare}}</td>
				</tr>
				<tr>
					<td>Ex Divided Date</td><td>{{stock_quote.ExDividedDate}}</td>
				</tr>
				<tr>
					<td>Last Payout Date</td><td>{{stock_quote.LastPayoutDate}}</td>
				</tr>
			</table>
		</div>
	</body>
</html>

